.container {
position: relative;
left: 30%;
top: 50px;
 
height: 500px;

}

#Octopus {
position: absolute;
top: 70px;
left: 15px;
}

#hat {
position: absolute;
top: 0;

}

#glasses {
position: absolute;
top: 168px;
left: 55px;
z-index: 1;


}

h1 {
color: red;

}